.posts p:first-child, .first-title {
	font-size: 50px;
	line-height: 70px;
}

.posts p:first-child + p, .second-title {
	font-size: 40px;
	line-height: 50px;
}

.posts p:first-child + p + p, .third-title {
	font-size: 30px;
	line-height: 35px;
}

.posts p:first-child + p + p + p, .fourth-title {
	font-size: 20px;
}

.ie-header {
	background: #e3e3e3;
	font-weight: bold;
	padding: 10px 5px;
}

.mobile-only {
    display: none;
}

.desktop-only {
    display: block;
}