body {
    /*done*/
    width: 75%;
    margin: -10px auto 0 auto;
    font-family: 'Quattrocento Sans', sans-serif;
}

p:not(.logo-wrap), blockquote, body {
    /*done*/
    font-size: 16px;
    line-height: 30px;
}

.article-content img, .article-content iframe {
    /*done*/
    border-radius: 3px;
    display: block;
}

h1, h2, h3, h4 {
    /*done*/
    line-height: normal;
}

a:not(.pure-button):not(.img-link) {
    /*done*/
    color: #4d4dff;
    border-bottom: 1px dotted #4d4dff;
    text-decoration: none;
    transition: all 0.3s;
}

a:not(.pure-button):not(.img-link):hover, a:not(.pure-button):not(.img-link):focus {
    /*done*/
    color: #0000b3;
    border-bottom-color: #0000b3;
    outline: none;
}

.posts p:nth-child(1) {
    /*done*/
    font-size: 50px;
    line-height: 70px;
}

.posts p:nth-child(2) {
    /*done*/
    font-size: 40px;
    line-height: 50px;
}

.posts p:nth-child(3) {
    /*done*/
    font-size: 30px;
    line-height: 35px;
}

.posts p:nth-child(4) {
    /*done*/
    font-size: 20px;
}

.sidebar {
    /*done*/
    margin-top: 45px;
    padding-right: 15px;
}

.change-topic optgroup {
    /*done*/
	color: #979797;
	font-style: normal;
	font-weight: normal;
}

.change-topic option {
    /*done*/
	color: black;
}

.pure-button-custom {
    /*done*/
    color: white;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

.readability-button {
    /*done*/
    background: rgb(134,0,0);
}

.tweet-button {
    /*done*/
    background: rgb(0, 172, 237);
}

.facebook-button {
    /*done*/
    background: rgb(59,89,152);
}

/* == remove the !important */
.rss-remove-button, .vex-rss-remove .vex-dialog-button-primary {
    /*done*/
	background: rgb(202, 60, 60) !important;
}

.inline-form select {
    /*done*/
    margin-right: 10px;
}

.search-news .center:first-child input {
    /*done*/
    max-width: 90%;
}

.search-news .center:first-child .close {
    /*done*/
    max-width: 10%;
}

.controls a, .controls button {
    /*done*/
    margin-bottom: 5px;
}

.article-author {
    /*done*/
    font-size: 18px;
}

.controls p, .center, .logo-wrap {
    /*done*/
    text-align: center;
}

.center {
    /*done*/
    margin: 0;
}

.center:not(:first-child) {
    /*done*/
	margin-top: 12px;
}

.center-child, .search-news input[type=text], .change-topic select {
    /*done*/
    display: inline;
}

.error-text {
    /*done*/
    color: #b94a48;
}

.warning-text {
    /*done*/
    color: #c09853;
}

.loader {
    /*done*/
    background: #e3e3e3;
    opacity: 0.7;
    font-size: 30px;
    padding: 20px 30px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.settings-control {
    /*done*/
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.chevron {
    /*done*/
    font-size: 75%;
}

.settings {
    /*done*/
    display: none;
}

/* == remove the !important */
.github {
    /*done*/
	display: block;
	width: 149px;
	height: 149px;
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	color: transparent !important;
	background-image: url(https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png);
}

.background-visibility fieldset {
    /*done*/
	padding: 0;
}

@media (max-width:500px) {
    body {
        /*done*/
        margin-bottom: 10px;
    }

    .pure-u-1-5 {
        /*done*/
        padding: 0;
    }

    .article-content img, .article-content iframe {
        /*done*/
        max-width: 90%;
    }

    .article-title {
        /*done*/
        text-align: left;
    }
}

@media (min-width:501px) {
    .article-content img, .article-content iframe {
        /*done*/
        float: left;
        margin: 10px 10px 10px 0;
        max-width: 50%;
    }
	
    /* == remember to add iframe rule */
    .article-content img.even-img {
        /*done*/
        float: right;
        margin: 10px 0 10px 10px;
    }
}

@media (max-width:850px) {
    body {
        /*done*/
        width: 100%;
        padding: 0 10px;
    }
}

@media (min-width:851px) {
    html:not(.read-page):not(.bg-invisible) {
        /*done*/
        background: url(http://oi41.tinypic.com/5b5qpk.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    html:not(.read-page):not(.bg-invisible) body {
        /*done*/
        background: rgba(227, 227, 227, 0.8);
        padding: 0 5px 5px 5px;
        border-radius: 10px;
    }
	
	html:not(.read-page):not(.bg-invisible) .github {
        /*done*/
		background-image: url(https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png);
	}
}

@media (min-width:768px) and (max-width:850px) {
	html:not(.read-page) .github {
        /*done*/
        opacity: 0.75;
    }
}

@media (min-width:768px) and (max-width:1186px) {
    .pure-u-1-5 {
        /*done*/
        width: 25%;
    }

    .pure-u-4-5 {
        /*done*/
        width: 75%;
    }
}

@media (max-width:767px) {
    .desktop-only {
        /*done*/
        display: none;
    }
}

@media (min-width:768px) {
    .mobile-only {
        /*done*/
        display: none;
    }
}
